*_manifest.rc
*.embed.manifest
*.idb
*.intermediate.manifest
*.ipch
*.lastbuildstate
*.log
*.ncb
*.obj
*.opensdf
*.pch
*.res
*.sdf
*.suo
*.tlog
*.vcxproj.user

/Debug/*
/Release/*

source/third_party/cppunit/doc/html/*
